<div class="page-bg">
    <div class="about-content">
    <h2>ゆる〜く語る場所を提供します</h2>
    <p>
    相談、独り言なんでも良いです。<br>
    <br>
    気軽にスレを立てて楽しんでください。。。<br>
    <br>
    サービスを利用するには<span class="about-link"><%= link_to 'ログイン', login_path %></span>してください。<br>
    <br>
    アカウントをお持ちでない方は、<span class="about-link"><%= link_to '新規登録', signup_path %></span>を行ってください
    </p>
    </div>
</div>