<div class="page-bg">
    <div class="about-content">
    <h2>ゆる〜く語る場所を提供します</h2>
    <p>
    相談、独り言なんでも良いです。<br>
    <br>
    気軽にスレを立てて楽しんでください。。。<br>
    <br>
    サービスを利用するにはログインしてください。<br>
    <br>
    アカウントをお持ちでない方は、新規登録を行ってください
    </p>
    </div>
</div>