<div class="page-bg">
    <% if logged_in? %>
        <div class="new-threads">
        <h2>投稿スレ</h2>
        <%= render @posts %>
        </div>
    <% else %>
        <div class="home-content">
        <h2>さあ、はじめよう!</h2>
        <%= link_to signup_path do %>
        <button class="signup-button">Sing up</button>
        <% end %>
        <p>アカウントをお持ちの方は<%= link_to 'ログイン', login_path %>してください。</p>
        </div>
    <% end %>
</div>