<div class="profile">
    <h2>プロフィール</h2>
    <table class="informations">
     <tr>
        <th class="item"> User_id</th><th><%= @user.user_id %></th>
     </tr>
        <% if !current_user.provider %>
    <tr>
        <th class="item"> Email</th><th><%= @user.email %></th>
    </tr>
        <% elsif current_user.provider == 'twitter' || current_user.provider == 'facebook' %>
    <tr>
        <th colspan="2" class="social-account"><span><%= current_user.provider %></span>アカウントでログインしています。</div>
    </tr>
        <% else %>
    <tr>
        <th colspan="2" class="social-account"><span>Google</span>アカウントでログインしています。</div>
    </tr>
        <% end %>
    </table>
</div>