<div class="profile">
    <h2>プロフィール</h2>
    <dl class="informations">
        <dt class="item"> User_id</dt>
        <dd><%= @user.user_id %></dd>
        <dt class="item"> Email</dt>
        <dd><%= @user.email %></dd>
    </dl>
</div>