<div class="page-bg">
    <div class="profile-content">
        <%= render 'users/profile'%>

        <div class="my-threads">
        <h2>投稿スレ</h2>
        <%= render @posts %>
        </div>
    </div>
</div>