<% if current_user?(object.user) %>
<div class="edit-icons">
    <%= link_to edit_post_path(object) do%>
    <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to object, method: :delete, data:{confirm:"こちらの投稿を削除しますか？"} do %>
    <i class="fa fa-trash"></i>
    <% end %>
</div>
<% end %>