<div class="category-text">カテゴリー:
    <% unless object.categories.blank? %>
        <% object.categories.each_with_index do |category, i| %>
            <span class="category-link"><%= link_to category.name,'#' %></span>
            <% if i == object.categories.length - 1 %>
            <% break %>
            <% end %>
        <span class="comma">,</span>
        <% end %>
    <% end %>
</div>