@charset "UTF-8";

/* 共通部分 */

html{
    font-size: 100%;
}

body{
    color: #616161;
    font-family:'Arial','YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    line-height: 1.7;
    margin: 0;
}

ul{
    padding-inline-start: 0px;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 4%;
}

/* PAGE_TOP_BTN */

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
  }
  #pageTop i {
    padding-top: 7px;
  }
  #pageTop a {
    display: block;
    padding: 8px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: #00acee;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  #pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }


/* HEADER */

.page-header{
    background-color: #303f7a;
    padding: 2%;
}

.logo a{
    color: white;
    font-size:1.275rem;
}
.main-nav{
    display: flex;
    align-items: center;
    list-style: none;
}
.main-nav li{
    margin-left: 34px;
}
.main-nav li a{
    color:white;
    font-size:0.815rem;
    padding-bottom:3px;
    position: relative;
}

.main-nav a:hover{
    opacity: 0.8;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}


.main-nav > li.menu__single{
    position: relative;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 20px;
    width: 150px;
    background-color:#fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    list-style: none;
    text-align:left ;
}
li.menu__single:hover ul.menu__second-level {
    top: 30px;
    visibility: visible;
    opacity: 1;
}

.menu__second-level li {
    margin-left:0px ;
    border: 1px solid black;
    padding: 10px 0;
}
.menu__second-level li a{
    font-weight:bolder ;
    padding-left:20px;
    color: black;
}

.menu__second-level li a:hover{
    opacity: 0.6;
}

.post-tread-bottun{
    text-align: center;
    background-color: #00acee;
    width: 100px;
    padding: 3px;
    border-radius: 25px;
}

.post-tread-bottun:hover{
    background-color: #08709a;
}

.search-form{
    display: flex;
    justify-content: center;
}

.search-form form input{
    background: #fff;
}

.search-form form input[type="text"]{
    margin-bottom: 0px;
    width: 200px;
}

.search-form form input[type=submit]{
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.search-form form input[type=submit]:hover{
    background: rgb(164, 163, 163);
}

/* FOOTER */

footer{
    color: white;
    background-color: #303f7a;
    padding: 2%;
}

/* page-bg */

.page-bg{
    padding-top:8%;
    padding-bottom:8%;
    background: #e8e8e8;
}

/* flash */

.flash-message{
    text-align: center;
    color: #fff;
    padding:10px;
    background-color: #00acee;
}

/* thread */

.thread{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    transition: all 0.2s ease;
    position: relative;
}

.thread:hover{
    transform: scale(1.05,1.05);
}

.thread a{
    color: #616161 !important;
}
.new-threads h2,
.my-threads h2{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50%;
    padding: 3%;
    font-size: 2rem;
    font-weight: lighter;
}

.thread h1{
    font-size:1.275rem;
}

.thread h1:hover{
    opacity: 0.8;
}

.thread-category{
    font-size:0.875rem ;
}

.category-text a{
    color: #616161;
}

.category-link:hover{
    opacity: 0.8;
}

.thread-post-date{
    text-align: right;
    font-size:0.875rem ;
}

.home-threads{
    margin-bottom: 50px;
}

/* edit_icons */
.edit-icons{
    position:absolute;
    bottom: 5px;
    left: 5px;
}
.edit-icons i{
    margin-left:15px ;
    font-size:18px ;
    color: #CCCCCC;
}

.edit-icons i:hover{
    opacity: 0.8;
}

/* pagenation */
.pagination{
    height: 50px;
    list-style: none;
    text-align: center;
    margin-bottom: 40px;
}

.pagination a{
    color: white;
    background-color: #303f7a;
    padding: 15px 25px;
    text-decoration: none;
}

.pagination a:hover{
    opacity: 0.8;
}

.pagination em{
    padding: 15px 25px;
    font-style: normal;
    color: white;
    background: #6f7eb8;
    font-family: sans-serif;
}

.previous_page.disabled,
.next_page.disabled {
    display: none;
}

.previous_page,
.next_page{
    background-color: #00acee !important;
}
.previous_page a,
.next_page a{
    color: white;
}