.form{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 3%;
}

.form h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom:60px;
}

form{
    width: 350px;
}

form label{
    font-weight: bold;
    color: #303f7a;
}
.form-group{
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password" i],
textarea, select,
.uneditable-input,
ul.tagit {
    padding: 5px 5px;
    outline: none;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 16px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

input[type="text"]:focus,
input[type="password" i]:focus,
textarea:focus {
    color:black !important;
    box-shadow: 0 0 7px #3498db;
    border: 1px solid #3498db;
}

ul.tagit {
    overflow: auto;
    margin-left: inherit;
    margin-right: inherit;
}
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: inline !important;
}

.submit-btn{
    display:block;
    width: 150px;
    line-height: 45px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #004d41;
    border-radius: 25px;
    margin: 0 0 0 auto
}

.submit-btn:hover{
    background-color: #236d62;
}

//Alert
#error_explanation {
    color: red;
    ul {
      list-style-position: inside;
      color: red;
      margin: 0 0 30px 0;
    }
}

.field_with_errors {
    .form-control {
        border-color: #ebccd1;
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#thread-tags li{
    list-style: none;
}