.show-thread{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding: 2%;
    margin-bottom: 40px;
}

.reply{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    width: 48%;
    padding: 1%;
}

.reply-content{
    padding: 3%;
}