.home-content,
.about-content{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    padding: 3%;
}

.home-content h2,
.about-content h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom:60px;
}
.signup-button{
    color: white;
    width: 150px;
    padding: 15px;
    margin-bottom:40px ;
    background-color: #004d41;
    border-radius: 20px;
}

.signup-button:hover{
    opacity: 0.8;
}

.about-content h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom:60px;
}

.about-content p{
    text-align: center;
}