.profile{
    border:1px solid black ;
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom:30px ;
    width: 50%;
    padding: 3%;
}

.profile h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom:60px;
}


.item{
    font-weight: bold;
    color: #303f7a;
}

dt {
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    margin-bottom: 15px ;
    width: 100px ;
}

dd {
    float: left ;
    margin-left: 1em ;
}